.page-container {
	width: 100%;
	height: 600px;
	display: flex;
}

.hamburger-menu {
	background-color: transparent;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.app-nav-menu {
	background-color: #262F41;
	min-width: 300px;
	color: #9297A3;
	font-size: 24px;
}

.app-nav-link-container {
	list-style-type: none;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #585D63;
	cursor: pointer;
}

.link > li {
	padding: 30px;
}

.link > li:hover {
	background-color: #F7FCFF;
}

.material-icons {
	padding-right: 15px;
}

.body-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header-container {
	background-color: white;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 20px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 0px 5px 5px 0px rgba(222,222,222,1);
}

.content-container {
	margin-top: 8px;
	background-color: #F7FCFF;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.no-hamburger {
	display: none;
}



@media screen and (min-width: 1008px) {
	.app-nav-menu {
		display: block;
	}
	.hamburger-menu {
		display: none;
	}
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
	.app-nav-menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.full-menu {
		display: block;
	}
	.hamburger-menu {
		display: block;
	}
}

@media screen and (max-width: 640px) {
	.app-nav-menu {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	.full-menu {
		display: flex;
		justify-content: center;
	}
	.hamburger-menu {
		display: block;
	}
	.page-container {
		min-width: 550px;
	}
}
